<% include ./partials/header %>
<div class="row">
    <div style="width: 30%; margin: 25px auto;">
        <form class="form-signin" action="/register" method="POST">
            <h1 class="h3 mb-3 font-weight-normal">Please Sign Up</h1>
                <label for="inputUsername" class="sr-only">Username</label>
                <input type="text" id="inputUsername" class="form-control" name="username" placeholder="Username" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
                <label for="inputFirstname" class="sr-only">First Name</label>
                <input type="text" id="inputFirstname" class="form-control" name="firstName" placeholder="first name" required>
                <label for="inputLastname" class="sr-only">Last Name</label>
                <input type="text" id="inputLastname" class="form-control" name="lastName" placeholder="last Name" required>
                <label for="inputEmail" class="sr-only">email</label>
                <input type="text" id="inputEmail" class="form-control" name="email" placeholder="email" required>
                <label for="inputAvatarURL" class="sr-only">avatar URL</label>
                <input type="text" id="inputAvatarURL" class="form-control" name="avatar" placeholder="avatar">
                <label for="inputAdminCodee" class="sr-only">admin Code</label>
                <input type="text" id="inputAdminCodee" class="form-control" name="adminCode" placeholder="admin Code">
  
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            
        </form>
        <a href="/campgrounds">Go Back</a>
    </div>
</div>
<% include ./partials/footer %>